@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: indianred;
    overflow:auto;
    white-space: nowrap;
}

.white-keys kbd {
    text-align: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
    line-height: 900px;
    display: inline-block;
    background: white;
    width: 110px;
    height: 510px;
    border: lightgrey solid 5px;
    margin-left: -10px;
    font-size: 200%;
}

.container {
    margin: auto;
}

.black-keys kbd {
    display: inline-block;

    text-align: center;
    font-size: 200%;
    font-family: 'Roboto Slab', serif;
    color: white;

    line-height: 500px;
    width: 75px;
    height: 350px;

    background: black;

    position: relative;
    bottom: 15.95em;
}

#c-sharp {
    left: 1.8em;
}

#d-sharp {
    left: 2.6em;
}

#f-sharp {
    left: 6.65em;
}

#g-sharp {
    left: calc(6.65em + .8em);
}

#a-sharp {
    left: calc(6.65em + .8em * 2);
}
